body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.section1, footer {
    background-color: #1F2937;
}
.header span, .hero-text {
    color: #F9FAF8;
}

.subtext, ul {
    color: #E5E7EB;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
}

.header span {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
}

.first-button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 24px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: 16px 13%;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content1 {
    display: flex;

}

.content1 .left-side {
    flex: 1;
}

.content1 .right-side {
    flex: 1;

    background-color: grey;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
}