body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header,
.section1,
footer {
    background-color: #1F2937;
}

.header span,
.hero-text {
    color: #F9FAF8;
}

.hero-text {
    margin: 0;
}

.subtext,
ul {
    color: #E5E7EB;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
}

.header span {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.first-button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 24px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.section3 {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 10%;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.section1 {
    padding: 64px 10% 96px 10%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.section1>div {
    flex: 1;
}

.placeholder-image {
    max-width: 100%;
    max-height: 100%;
}

.left-side {
    height: fit-content;
}

.right-side {
    height: 214px;
    display: flex;
    justify-content: flex-end;
}

.section2>p {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.section2-images {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.image-with-subtext>p {
    color: #5b6471;
    text-align: center;
    margin: 5px 0 0 0;
}

.image-with-subtext {
    max-width: 150px;
}

.images-row {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.section2 {
    padding: 24px 12% 48px 12%;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding: 48px 14% 64px 14%;
}

.section3>blockquote {
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 0;
}

.section3>figcaption {
    align-self: flex-end;
    font-size: 17px;
    font-weight: 600;
    padding-right: 80px;
}

.blue-block {
    background-color: #3882F6;
    margin: 50px 14%;
    border-radius: 5px;
    color: #F9FAF8;
    display: flex;
    padding: 30px 70px;
    justify-content: space-between;
}

.left-side2 > p {
    margin: 0; 
}

.second-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    height: 30px;
    padding: 3px 15px;
    align-self: center;
}

.left-side2 > .hero-text2 {
    font-weight: bold;
    font-size: large;
}
.left-side2 > .subtext2 {
    font-weight: lighter;
    font-size: small;
    color: #E5E7EB;
}